footer.footer
    .container
        .row
            .col-12.d-flex.align-items-center
                p Copyright

.modal(tabindex='-1' role='dialog')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5.modal-title Modal title
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                p Modal body text goes here.
            .modal-footer
                button.btn.btn-primary(type='button') Save changes
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close