@font-face {
    font-family: "Museo300-Regular";
    src: url("../fonts/primaria-light/Museo300-Regular.eot");
    src: local("☺"),
        url("../fonts/primaria-light/Museo300-Regular.otf") format("opentype"),
        url("../fonts/primaria-light/Museo300-Regular.ttf") format("truetype"),
        url("../fonts/primaria-light/Museo300-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Museo700-Bold";
    src: url("../fonts/primaria-bold/Museo700-Bold.eot");
    src: local("☺"),
        url("../fonts/primaria-bold/Museo700-Bold.otf") format("opentype"),
        url("../fonts/primaria-bold/Museo700-Bold.ttf") format("truetype"),
        url("../fonts/primaria-bold/Museo700-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}