:root {
    // COLORS//
    --color-prm-1: #00dff4;
    --color-prm-2: #00ddf1;
    --color-sec: #db0080;
    --color-ter: #d95242;
    --color-gris: #eeeeee;
    // FONTS
    --font-prm-regular: "geizer-regular", sans-serif;
    --font-sec-regular: "bebas-regular", sans-serif;
    --font-sec-bold: "hanson-bold", sans-serif;

    --txt-3xl: calc(100px + 0 * ((100vw - 1280px) / 1920));
    --txt-2xl: calc(100px + 10 * ((100vw - 1280px) / 1920));
    --txt-xl: calc(60px + 10 * ((100vw - 1280px) / 1920));
    --txt-l: calc(42px + 10 * ((100vw - 1280px) / 1920));
    --txt-m: calc(25px + 10 * ((100vw - 1280px) / 1920));
    --txt-s: calc(17px + 10 * ((100vw - 1280px) / 1920));
    --txt-xs: calc(14px + 10 * ((100vw - 1280px) / 1920));

    /// SECTIONS
    --padding-section: 80px 40px;
}
