main {
    position: relative;
    font-family: var(--primaria-regular);
    color: var(--color-black);
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
        line-height: normal;

        b {
            font-family: var(--primaria-bold);
        }
    }

    .txt-xxxl {
        font-size: var(--xxxl);
        line-height: 1;
    }

    .txt-xxl {
        font-size: var(--xxl);
        line-height: 1;
    }

    .txt-xl {
        font-size: var(--xl);
    }

    .txt-l {
        font-size: var(--l);
    }

    .txt-m {
        font-size: var(--m);
    }

    .txt-s {
        font-size: var(--s);
    }

    .txt-xs {
        font-size: var(--xs);
    }

    p {
        font-size: var(--xl);
    }
}

/// MOBILE
@media (max-width: 1024px) {
    main {
        background: none;
    }
}
