extends includes/head.pug
block variables
    - titulo = "Title"

    body.home
        include includes/header.pug

        include includes/footer.pug
                                                












