extends includes/head.pug
block head-page
    title Vibra
block content
    -ruta = ""

    include includes/header.pug

    main.home

    include includes/footer.pug
    script(src="js/functions.min.js" defer)
    script(src="js/animation.min.js" defer)