- titulo = "Title"


doctype
html(lang='es')
    
    include includes/head.pug


    body.home
        include includes/header.pug

        include includes/footer.pug
                                                










