doctype
html(lang='es')
    include includes/head.pug

    body
        include includes/header.pug

        
        .container
            .row 
                .col-12
                
        include includes/footer.pug