doctype
html(lang='es')
   include includes/head.pug

   body

      main.home
         - const faqs = [ {id:'1', contenido:'lalalal'}, {id:'2', contenido:'ooooo'} ]

         each item, index in faqs
            .accordion-item
               h4(id='heading'+index type='button' data-bs-toggle='collapse' data-bs-target='#collapse'+index aria-expanded='true' aria-controls='collapseOne') #{item.id}
               .accordion-collapse.collapse(id='collapse'+index aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                  .accordion-body #{item.contenido}